<%= form_for @project do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description, required: true %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location, required: false %>
  </p>

  <p>
    <%= f.label :image %>
    <%= f.cl_image_upload :image %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location, required: false %>
  </p>

  <p>
    <% @users.each do |user| %>
      <%= link_to "#{ user.name }" %>
    <% end %>
  </p>

  <p>
    <%  %>
    <%= label_tag :new_user_id %>
    <%#= collection_select( :user, :id, @all_users, :id, :name, include_blank: true ) %>

    <%= collection_check_boxes( :user, :id, @all_users, :id, :name, {:prompt => true}, {multiple: true}) %>

  </p>

  <p>
    <%= f.label :image %>
    <%= f.text_field :image, required: false %>
  </p>

  <%= f.submit %>
<% end %>
