
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>
        Submit time form</h3>

      <%= form_for @time_entry do |f| %>
      <%= f.label :project %>
      <%= f.collection_select(:project_id, Project.all, :id, :name) %>
      <br>
      <%= f.label :start_time %>
      <%# Time.use_zone("Australia/Sydney") do %>
      <!-- <%#= f.datetime_select :start_time %> -->
      <%= f.text_field :start_time, class: 'datepicker' %>


      <%#= f.datetime_select :start_time, :value => Time.current.strftime('%d/%m/%Y') %>

      <!-- <%#= f.time_select :start_time, :ignore_date => true%> -->
      <%#= f.time_select :start_time %>
      <br>
      <%= f.label :end_time %>
      <!-- <%#= f.datetime_select :end_time %> -->
      <%= f.text_field :end_time, class: 'datepicker' %>
      <%#= f.date_select :end_time, :value => Time.zone.now %>
      <!-- <%#= f.time_select :end_time, :ignore_date => true %> -->
      <%#= f.time_select :end_time %>
      <br>
      <%# end %>
      <%= f.submit %>
      <% end %>

      <h3>Time Entries</h3>

      <% if @current_user.time_entries.any? %>
        <%= render partial: 'time_entry', collection: @current_user.time_entries.order('updated_at DESC') %>
      <% end %>


    </div>
  </div>
